.toolbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

.toolbar-profile{
    position: absolute;
    right: 1rem;
}


.img-center{
    position: absolute;
    top:0;
    right: 0;
}