<ion-header class="ion-no-border">
    <img src="/assets/images/header.png" class="header-img">
</ion-header>

 <div class="login-container">
  <p class="logo-title"> Cookbook </p>
  <ion-avatar>
    <img alt="header image" src="/assets/icon/avatar.png" />
  </ion-avatar>

    <input type="text" placeholder="Email" class="login-input" [(ngModel)]="email" (keyup)="validateEmail($event)">
    
    <span class="error-message" style="width:100%" *ngIf="emailInvalid">Please enter valid email</span>
    <input type="password" placeholder="Password" class="login-input" [(ngModel)]="password" (keyup)="validateField()">
    <div style="display: flex; flex-direction: row; width: 100%; justify-content:space-between; font-size: .75rem;;margin-top: 10px;">
      <div style="display: flex; align-items: center;"> 
      <input type="checkbox" id="vehicle3" name="remember" value="" style="color: #F79802;">
      <label for="remember" style="color:#F79802; margin-left: .5rem;"> Remember Me</label>
      </div>
      
      <p style="margin: 0; color:#F79802;" >Forgot Password?</p>
    </div>
    
    <div style="width:100%;display: flex; justify-content: end;">
      <button slot="end" class="proceed-btn" [disabled]="disableButton" (click)="proceed()">Proceed</button>
    </div>
    
    <p style="margin-top: 5rem; color:#F79802; font-size: .75rem;" >Sign Up an Account</p>


    <ion-icon name="finger-print" style="margin-top: 3rem; font-size:3rem;opacity: .5;"></ion-icon>
    <p style="color:#F79802; font-size: .75rem;" >Sign In Using TouchID</p>
 </div>
