/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


body{
    font-family: 'Almarai', sans-serif;
}
.logo-title{
    font-family: 'Kavoon', cursive;
    font-size: 1.5rem;
    color: #F39D4D;
    margin: 1rem 0;
}


.page-title{
    font-size: 1.25rem;
    font-weight:700;
    padding: 1rem 0;
    margin: 0;
}

.md-font{
    font-size: 14px;
    padding: 1rem 0;
    margin: 0;
}

.header-title{
    font-family: 'Kavoon', cursive;
    font-size: 1.5rem;
    color: #F39D4D;
    margin: 1rem 0;
}

.login-input{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    border: 0;
    margin: 1.5rem 0px .5rem 0px;
    width: 100%;
    border-bottom: 1px solid #F39D4D;
}

.login-input:focus{
    outline:none
}


.proceed-btn{
    height: 50px;
    width: 175px;
    margin-top: 1.5rem;
    border-radius: 10px;
    color: #FFFFFF; 
    background: #F39D4D;
}

.proceed-btn {
    &[disabled] {
        background: #CCCCCC;
    }
}

.error-message{
    color: #e25959;
    font-size: .75rem;
}


.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bold{
    font-weight: bold;
}


.item-center{
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(50%,50%);
}


.no-recipe{
    opacity: .32;
    width: 150px;

    
}

.small {
    width: 70px;
}